<div class="row col-sm-12">
<div class="row col-sm-6">
    <h2>Enter a Record:</h2>
    <form class="form-horizontal">
        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Number of Pregnancies:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="num_preg">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Glucose Concentration:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="glucose_conc">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Diasotolic Blood Pressure:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="diastolic_bp">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Thickness:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="thickness">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Insulin:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="insulin">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Body Mass Index:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="bmi">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Diabetes Pedigree Function:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="diab_pred">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Age:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="age">
            </div>
        </div>
    </form>
    <button type="button" id="predict">Predict Me!</button>
</div>

<div class="row col-sm-6">
    <h2 class="col-xs-12">Diabetic Risk:</h2>
    <div id="outcome" class="parent col-xs-12">
        <img src="~/images/gray.png" style="" id="outcome-img"  class="child"/>
    </div>
</div>

</div>

@section Scripts {
    <script type="text/javascript">
        $("#predict").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: '@Url.Action("values","api")',
                data: JSON.stringify({
                    "num_preg": $("input[name='num_preg']").val(),
                    "glucose_conc": $("input[name='glucose_conc']").val(),
                    "diastolic_bp": $("input[name='diastolic_bp']").val(),
                    "thickness": $("input[name='thickness']").val(),
                    "insulin": $("input[name='insulin']").val(),
                    "bmi": $("input[name='bmi']").val(),
                    "diab_pred": $("input[name='diab_pred']").val(),
                    "age": $("input[name='age']").val()
                }),
                success: function (result) {
                    var probability = parseFloat(result);
                    switch (true) {
                        case (probability < 50):
                            $("#outcome-img").attr("src", '@Url.Content("~/images/green.png")');
                            break;
                        case (probability < 90):
                            $("#outcome-img").attr("src", '@Url.Content("~/images/yellow.png")');
                            break;
                        default:
                            $("#outcome").load(URL);
                            $("#outcome-img").attr("src", '@Url.Content("~/images/red.png")');
                    }
                },
                error: function (result) {
                    alert('There was an error processing your request.');
                }
            });
        });
    </script>
}
